@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media () {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
    color: rgb(var(--foreground-rgb));
}

body > * {
    max-width: 960px;
    margin: auto;
}

body hr {
    max-width: none;
    margin-bottom: 1em;
}


@layer utilities {
	.text-balance {
		text-wrap: balance
	}
}
